:root {
    --sidemenu-section-active-color: #1668e3;
    --active-section-color: #1668e3;
    --active-tab-border-color: #1668e3;
    --hover-link-color: #1668e3;
    --dokka-logo-height: 35px;
    --dokka-logo-width: 35px;
}
