name: Release SDK

on:
  workflow_dispatch:
    inputs:
      branch:
        description: |
          Branch to release the SDK from.
          Defaults to the branch the action is being run from.
        type: string
        default: ''

jobs:
  run-examples:
    strategy:
      matrix:
        jdk: [ 8, 11, 17, 21 ]
    uses: ./.github/workflows/run-examples.yaml
    secrets: inherit
    with:
      branch: ${{ inputs.branch }}
      jdk: ${{ matrix.jdk }}

  release-sdk:
    uses: ExpediaGroup/expediagroup-java-sdk/.github/workflows/selfserve-release-sdk.yaml@v20241126
    secrets: inherit
    with:
      branch: ${{ inputs.branch }}
