name: Release SDK

on:
  workflow_dispatch:
    inputs:
      branch:
        description: |
          Branch to release the SDK from.
          Defaults to the branch the action is being run from.
        type: string
        default: ''

jobs:
  release-sdk:
    uses: ExpediaGroup/expediagroup-java-sdk/.github/workflows/selfserve-release-sdk.yaml@main
    secrets: inherit
    with:
      branch: ${{ inputs.branch }}
